@import '../variables';

.pizza-block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 260px;

    &:hover {
      // height: 270px;
      // width: 270px;
      // transition: height 0.2s ease, width 0.2s ease;
      // animation: rotation 5s infinite linear;
      // padding-bottom: 10px;
      // opacity: 0.9;
      cursor: pointer;
      filter: brightness(108%);
      // transition: opacity 0.2 ease;
      // @keyframes rotation {
      //   from {
      //     transform: rotate(0deg);
      //   }
      //   to {
      //     transform: rotate(359deg);
      //   }
      // }
      // border-radius: 50%;
      // box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();

        &.active {
          background: #fff;
          box-shadow: 0 2px 4px rgb(0 0 0 / 4%);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
