.gray {
  p {
    color: #7f7f7f !important;
  }
}

.pastorders {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid $gray-line;
  justify-items: center;

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 420px;
    width: 100%;
    padding-bottom: 30px;

    @media (max-width: 430px) {
      flex-direction: column;
    }

    &-input {
      border: 1px solid rgb(0 0 0 / 10%);
      padding: 12px 20px;
      width: 300px;
      border-radius: 10px;
      font-size: 16px;
      outline: none;
      transition: all 0.15s ease-in-out;

      @media (max-width: 430px) {
        margin-bottom: 20px;
      }

      &:focus {
        border: 1px solid rgb(0 0 0 / 20%);
      }
    }

    &-button {
      padding: 13px 20px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;

    &-order {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(5, 1fr);
      background-color: #fe5f1e;
      border-radius: 15px;
      padding: 5px;
      margin-bottom: 15px;
      gap: 10px;

      p,
      span {
        color: white;
      }

      @media (max-width: 930px) {
        grid-template-columns: repeat(3, 1fr);
        align-items: unset;
      }

      @media (max-width: 730px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 430px) {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
      }
    }

    &-pizzas {
      margin-bottom: 15px;

      &--grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding-bottom: 10px;
        gap: 10px;
        border-bottom: 1px solid rgb(0 0 0 / 10%);
        margin-bottom: 5px;

        @media (max-width: 930px) {
          grid-template-columns: repeat(3, 1fr);
          align-items: unset;
        }

        @media (max-width: 730px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 430px) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
